<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Multiselect demo page!</title>
    <link rel="stylesheet" href="../../style/style.css" type="text/css">
  </head>
  <body>
    <div id="content"></div>
    <script type='text/javascript' src='../../bower_components/requirejs/require.js'></script>
    <script type='text/javascript' src='../../requirejsconfig.js'></script>
    <script type='text/javascript'>
      requirejs.config({
          baseUrl : '../../'
      })
      requirejs(['lib/scenario_player/scenario_player', 'can/route'], function(ScenarioPlayer){
        var features = $.when($.get('test/features/deselecting.feature'), $.get('test/features/selecting.feature'));
        features.then(function(deselecting, selecting){
          var template = can.stache('<rt-scenario-player mode="{state.mode}" features="{features}"></rt-scenario-player>'),
              appState = new can.Map;

          can.route.map(appState);

          $('#content').html(template({
            state : appState,
            features : [selecting[0], deselecting[0]]
          }))

          can.route("", {mode: 'test'})
          can.route(":mode")

          can.route.ready();
          

        });
        
      })
    </script>
  </body>
</html>