<!doctype html>
<html>
<head>
  <title>Tests</title>
  <link rel="stylesheet" href="../../../bower_components/qunit/qunit/qunit.css"/>
  <link rel="stylesheet" href="../../../style/style.css"/>
</head>
<body>
  <div id="qunit"></div>
  <div class="container">
    <div class="row"><div id="qunit-test-area"></div></div>
  </div>
  <script src="../../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../../bower_components/qunit/qunit/qunit.js"></script>
  <script src="../../../bower_components/funcunit/dist/funcunit.js"></script>
  <script src="../../../bower_components/cucumber-js/release/cucumber.js"></script>
  <script type='text/javascript' src='../../../bower_components/requirejs/require.js'></script>
  <script type='text/javascript' src='../../../requirejsconfig.js'></script>
  <script>
    QUnit.config.reorder = false;
    QUnit.config.testTimeout = 10000;
    requirejs.config({
      baseUrl : '../../../'
    })
    requirejs(['lib/test_runner', 'lib/funcunit_wrapper', 'components/multiselect/test/test'], function(TestRunner, funcunitWrapper, test){

      var features = $.when($.get('features/deselecting.feature'), $.get('features/selecting.feature'));
      features.then(function(deselecting, selecting){

        TestRunner(test, [selecting[0], deselecting[0]]);

      });
    });

  </script>
</body>
</html>